<!-- Hier word de header geinclude -->
<%- include('./partials/head') %>

<div class="chapter-container">
    <h2><%= chapter.title %></h2>
    <p><%- chapter.content %></p>
    <a href="/">Terug naar overzicht</a>
</div>

<!-- Hier word de foot geinclude -->
<%- include('./partials/foot') %>
