
<div class="chapter-container">
    <a href="/" class="close-button">
        <span class="material-symbols-outlined">close</span>
    </a>
    <img class="chapter-image" src="/assets/island_color_<%= chapter.id %>.svg" alt="Island Image <%= chapter.id %>">
    <h2><%= chapter.title %></h2>
    <div class="chapter-info"><%- chapter.content %></div>
    <a href="/" class="video-button">Bekijk de video<span class="material-symbols-outlined">
        arrow_forward
        </span></a>
</div>

