@font-face {
    font-family: 'heavyFont';
    src: url(/fonts/ObjectSans-Heavy.otf);
}

@font-face {
    font-family: 'regularFont';
    src: url(/fonts/ObjectSans-Regular.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--headerFont)
}

:root {
    --backgroundColor-light: #fafafa;
    --backgroundColor: #F0F3FA;
    --buttonColor: #F57118;
    --textColor: #123EB7;

    --headerFont:'heavyFont', sans-serif;
    --regularFont: 'regularFont', sans-serif;   
}

header {
    background-color: var(--backgroundColor);
    padding: 50px 40px 40px 30px;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 40px;
}

h2 {
    color: var(--textColor);
    font-size: 20px;
    line-height: 28px;
}

.intro-text {
    padding: 40px 20px 60px 20px;
    max-width: 375px;
    margin: auto;
}

.intro-text p {
    font-size: 20px;
    font-family: var(--regularFont);
    line-height: 32px;
}

.svg-container {
    display: flex;
    justify-content: center;
}

.svg-content {
    display: inline-block;
    position: relative;
}

.svg-grey {
    display: none;
}

.plus-button {
    position: absolute;
    width: 24px;
    height: 24px;
    background-color: var(--buttonColor);
    border-radius: 50%;
    cursor: pointer;
}

.plus-button::before,
.plus-button::after {
    content: '';
    position: absolute;
    background-color: black;
}

.plus-button::before {
    top: 50%;
    left: 25%;
    width: 50%;
    height: 2.5px;
    transform: translateY(-50%);
}

.plus-button::after {
    left: 50%;
    top: 25%;
    width: 2.5px;
    height: 50%;
    transform: translateX(-50%);
}

.plus-button:hover {
    background-color: var(--textColor);
}

.plus-button:hover::before,
.plus-button:hover::after {
    background-color: var(--backgroundColor-light);
}

.buttons .plus-button:nth-child(1) {
    left: 14%;
    bottom: 38%;
}

.buttons .plus-button:nth-child(3) {
    left: 44%;
    bottom: 7%;
}

.buttons .plus-button:nth-child(4) {
    left: 70%; 
    bottom: 48%; 
}

.buttons .plus-button:nth-child(5) {
    left: 88%;
    bottom: 51%;
}

.buttons .plus-button:nth-child(2) {
    left: 53%;
    bottom: 88%;
}

.chapter-display {
    margin-top: 20px;
    padding: 20px;
    display: none;
}

.chapter-container {
    background-color: var(--backgroundColor);
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 20px;
}

.chapter-info {
    font-family: var(--regularFont);
    margin-top: 10px;
    line-height: 24px;
}

.chapter-image {
    min-width: 250px;
    margin: auto;
    padding-bottom: 20px;
}

.video-button {
    display: inline-flex; 
    align-items: center;
    font-family: var(--headerFont);
    background-color: var(--backgroundColor-light);
    padding: 8px 24px; 
    border-radius: 25px;
    text-decoration: none;
    color: var(--textColor);
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
    margin-left: auto;
}

.video-button span {
    font-weight: 700;
    font-size: 28px;
    margin-left: 10px;
}

.close-button {
    display: inline-block;
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: inherit; 
    position: absolute;
    top: 10px;
    right: 10px;
}

.close-button span {
    font-size: 26px;
    font-weight: 700;
}

.footer {
    display: flex;
    color: black;
    justify-content: center;
    padding: 80px 70px;
    margin-top: 50px;
    background-color: var(--backgroundColor);
}

@media screen and (min-width: 1000px) {

    h1 {
        font-size: 64px;
    }

    .intro-text {
        max-width: 900px;
        margin-top: 60px;
    }
    .intro-text p {
        font-size: 26px;
        line-height: 46px;
    }

    .svg-color {
        width: 579.54px;
        height: 346.86px;
    }

    .plus-button {
        scale: 1.3;
    }

    .chapter-display-container {
        display: flex;
        justify-content: center;
    }
    
    .chapter-display {
        position: absolute;
        top: 500px;
        margin-top: 0px;
        padding: 20px;
        display: none;
        max-width: 685px;
        max-height: 450px;
        animation: fadeIn 0.25s forwards; /* Fade-in animatie */
    }

    @keyframes fadeIn {
        
        from {
            opacity: 0;
        }
        
        to {
            opacity: 1;
        }
    }
}
